<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Base</title>
</head>
<body>
    <main>
        <form class="form-join">
            <input type="text" id="name" class="name" maxlength="8" placeholder="Name as display" size="5" required>
            <input type="text" id="room" placeholder="Chat Room" size="5" required>
            <button id="join">Join</button>
        </form>

        <ul class="chat-display"></ul>
        
        <p class="user-list"></p>

        <p class="room-list"></p>

        <p class="activity"></p>

        <form action="" class="form-msg">
            <input type="text" id="message" placeholder="Your message" required>
            <button type="submit">Send</button>
        </form>
    </main>
</body>
</html>